Steps for Handling Categorical Data

1. Import Libraries
2. Load Data
3. Seprate Input and Output attributes
4. Convert the categorical data into numerical data

In [2]:
# Step 1: Import Libraries

import numpy as np 
import pandas as pd
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

# Step 2: Load Data
        
datasets = pd.read_csv('Exercise-CarData.csv')

In [3]:
datasets=datasets.replace('??',np.nan)
datasets=datasets.replace('????',np.nan)
datasets=datasets.dropna()
print(datasets.head(10))

    Unnamed: 0  Price   Age     KM FuelType   HP  MetColor  Automatic    CC  \
0            0  13500  23.0  46986   Diesel   90       1.0          0  2000
1            1  13750  23.0  72937   Diesel   90       1.0          0  2000
3            3  14950  26.0  48000   Diesel   90       0.0          0  2000
4            4  13750  30.0  38500   Diesel   90       0.0          0  2000
5            5  12950  32.0  61000   Diesel   90       0.0          0  2000
8            8  21500  27.0  19700   Petrol  192       0.0          0  1800
10          10  20950  25.0  31461   Petrol  192       0.0          0  1800
11          11  19950  22.0  43610   Petrol  192       0.0          0  1800
12          12  19600  25.0  32189   Petrol  192       0.0          0  1800
13          13  21500  31.0  23000   Petrol  192       1.0          0  1800

    Doors  Weight
0   three    1165
1       3    1165
3       3    1165
4       3    1170
5       3    1170
8       3    1185
10      3    1185
11      3    1185
12      3    1185
13      3    1185

In [4]:
# Step 3: Seprate Input and Output attributes

# All rows, all columns except last 
X = datasets.iloc[:, :-1].values 
  
# Only last column  
Y = datasets.iloc[:, -1].values 

print("\n\nInput : \n", X) 
print("\n\nOutput: \n", Y)

Input :
 [[0 13500 23.0 ... 0 2000 'three']
 [1 13750 23.0 ... 0 2000 '3']
 [3 14950 26.0 ... 0 2000 '3']
 ...
 [1429 8950 78.0 ... 1 1300 '5']
 [1430 8450 80.0 ... 0 1300 '3']
 [1435 6950 76.0 ... 0 1600 '5']]


Output:
 [1165 1165 1165 ... 1065 1015 1114]

In [5]:
# Step 4a: Apply LabelEncoder on the data 
#          to convert country names into numeric values

le = LabelEncoder()
X[ : ,0] = le.fit_transform(X[ : ,0])
print("\n\nInput : \n", X)

Input :
 [[0 13500 23.0 ... 0 2000 'three']
 [1 13750 23.0 ... 0 2000 '3']
 [2 14950 26.0 ... 0 2000 '3']
 ...
 [1093 8950 78.0 ... 1 1300 '5']
 [1094 8450 80.0 ... 0 1300 '3']
 [1095 6950 76.0 ... 0 1600 '5']]

In [6]:
# Step 4b: Use dummy variables from pandas library
#          to create one column for each country

dummy = pd.get_dummies(datasets['FuelType'])
print("\n\nDummy :\n",dummy)
datasets = datasets.drop(['FuelType'],axis=1)
datasets = pd.concat([dummy,datasets],axis=1)
print("\n\nFinal Data :\n",datasets)

Dummy :
       CNG  Diesel  Petrol
0       0       1       0
1       0       1       0
3       0       1       0
4       0       1       0
5       0       1       0
...   ...     ...     ...
1423    0       0       1
1424    0       0       1
1429    0       0       1
1430    0       0       1
1435    0       0       1

[1096 rows x 3 columns]


Final Data :
       CNG  Diesel  Petrol  Unnamed: 0  Price   Age     KM   HP  MetColor  \
0       0       1       0           0  13500  23.0  46986   90       1.0
1       0       1       0           1  13750  23.0  72937   90       1.0
3       0       1       0           3  14950  26.0  48000   90       0.0
4       0       1       0           4  13750  30.0  38500   90       0.0
5       0       1       0           5  12950  32.0  61000   90       0.0
...   ...     ...     ...         ...    ...   ...    ...  ...       ...
1423    0       0       1        1423   7950  80.0  35821   86       0.0
1424    0       0       1        1424   7750  73.0  34717   86       0.0
1429    0       0       1        1429   8950  78.0  24000   86       1.0
1430    0       0       1        1430   8450  80.0  23000   86       0.0
1435    0       0       1        1435   6950  76.0      1  110       0.0

      Automatic    CC  Doors  Weight
0             0  2000  three    1165
1             0  2000      3    1165
3             0  2000      3    1165
4             0  2000      3    1170
5             0  2000      3    1170
...         ...   ...    ...     ...
1423          1  1300      3    1015
1424          0  1300      3    1015
1429          1  1300      5    1065
1430          0  1300      3    1015
1435          0  1600      5    1114

[1096 rows x 13 columns]